<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PUK_Anjamakan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PUK_Anjamakan.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>rgre</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>greg</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>dfed</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>fgedg</value>
            </setting>
            <setting name="MALBAND" serializeAs="String">
                <value>few</value>
            </setting>
            <setting name="naw_karmand" serializeAs="String">
                <value>eewf</value>
            </setting>
        </PUK_Anjamakan.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>